In [49]:
import pandas as pd

In [50]:
car = pd.read_csv('car_dataset.csv')

In [51]:
car.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,18,24,3880,115,197

In [52]:
car.shape

(426, 15)

### 1) Find all the null values in the dataset . If there is any null values in any column then fill it with the mean values .

In [53]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

### 2) check what are the different types of makes are in our dataset and what is the count of each make in the dataset

In [54]:
car['Make'].value_counts()

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Volvo            12
Hyundai          12
Jaguar           12
Pontiac          11
Kia              11
Subaru           11
Lexus            11
Mazda             9
Buick             9
Mercury           9
Lincoln           9
Cadillac          8
GMC               8
Saturn            8
Suzuki            8
Infiniti          8
Acura             7
Saab              7
Porsche           7
Land Rover        3
Oldsmobile        3
Jeep              3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: count, dtype: int64

### 3) show all the records where origin is asia or europe.

In [55]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172

In [56]:
car[car['Origin'].isin(['Asia', 'Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197,21,28,3450,105,186
422,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242,20,26,3450,105,186
423,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268,19,26,3653,110,190
424,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170,22,29,2822,101,180
425,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5,208,20,27,3823,109,186

### 4) Remove all the records where Weight is above 5000.

In [57]:
car[~(car['Weight'] > 5000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,22,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,20,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5,197,21,28,3450,105,186
422,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5,242,20,26,3450,105,186
423,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6,268,19,26,3653,110,190
424,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4,170,22,29,2822,101,180
425,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5,208,20,27,3823,109,186

### 5) Increase all the values of MPG_City column by 3.

In [58]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172

In [59]:
car['MPG_City'] = car['MPG_City'].apply(lambda x:x+3)

In [60]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,20,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,27,31,2778,101,172

### 6) How many unique car manufacturers are there?

In [61]:
car['Make'].nunique()

38

### 7)  How many cars of each type (SUV, Sedan, etc.) are there?

In [62]:

car['Type'].value_counts()

Type
Sedan     262
SUV        60
Sports     47
Wagon      30
Truck      24
Hybrid      3
Name: count, dtype: int64

### 8)  Which car has the highest horsepower?

In [63]:
car.loc[car['Horsepower'].idxmax()]

Make                                  Dodge
Model          Viper SRT-10 convertible 2dr
Type                                 Sports
Origin                                  USA
DriveTrain                             Rear
MSRP                               $81,795
Invoice                            $74,451
EngineSize                              8.3
Cylinders                                10
Horsepower                              500
MPG_City                                 15
MPG_Highway                              20
Weight                                 3410
Wheelbase                                99
Length                                  176
Name: 114, dtype: object

### 9) What is the average MPG in the city for each car type?

In [64]:
car.groupby('Type')['MPG_City'].mean()

Type
Hybrid    58.000000
SUV       19.100000
Sedan     24.083969
Sports    21.425532
Truck     19.500000
Wagon     24.100000
Name: MPG_City, dtype: float64

### 10) Find all cars with 8 cylinders.

In [65]:
car[car['Cylinders'] == 8]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8,300,20,24,4024,109,193
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8,330,20,24,4399,121,204
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8,340,17,20,3825,104,179
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8,450,18,22,4024,109,191
25,Audi,S4 Avant Quattro,Wagon,Europe,All,"$49,090","$44,446",4.2,8,340,18,21,3936,104,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,Toyota,Sequoia SR5,SUV,Asia,All,"$35,695","$31,827",4.7,8,240,17,17,5270,118,204
375,Toyota,Land Cruiser,SUV,Asia,All,"$54,765","$47,986",4.7,8,325,16,17,5390,112,193
408,Volkswagen,Passat W8 4MOTION 4dr,Sedan,Europe,Front,"$39,235","$36,052",4.0,8,270,21,25,3953,106,185
409,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,"$65,000","$59,912",4.2,8,335,19,22,5194,118,204
413,Volkswagen,Passat W8,Wagon,Europe,Front,"$40,235","$36,956",4.0,8,270,21,25,4067,106,184

### 10) Which is the heaviest car in the dataset?

In [66]:
##df.loc[df['Weight'].idxmax()]
car.loc[car['Weight'].idxmax()]

Make                        Ford
Model          Excursion 6.8 XLT
Type                         SUV
Origin                       USA
DriveTrain                   All
MSRP                    $41,475
Invoice                 $36,494
EngineSize                   6.8
Cylinders                     10
Horsepower                   310
MPG_City                      13
MPG_Highway                   13
Weight                      7190
Wheelbase                    137
Length                       227
Name: 118, dtype: object

### 11) What is the average engine size for European cars?

In [69]:
car[car['Origin'] == 'Europe']['EngineSize'].mean()

np.float64(3.206504065040649)

### 14) Find the car with the smallest wheelbase.

In [71]:

car.loc[car['Wheelbase'].idxmin()]

Make                                Mazda
Model          MX-5 Miata convertible 2dr
Type                               Sports
Origin                               Asia
DriveTrain                           Rear
MSRP                             $22,388
Invoice                          $20,701
EngineSize                            1.8
Cylinders                               4
Horsepower                            142
MPG_City                               26
MPG_Highway                            28
Weight                               2387
Wheelbase                              89
Length                                156
Name: 245, dtype: object

### 15) What is the minimum, maximum, and mean invoice price for sedans?

In [80]:
car['Invoice'] = car['Invoice'].replace('[\\$,]', '', regex=True).astype(float)
car[car['Type'] == 'Sedan']['Invoice'].agg(['min', 'max', 'mean'])

min       9875.00000
max     119600.00000
mean     27389.79771
Name: Invoice, dtype: float64

In [81]:
car.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945",33337.0,3.5,6,265,20,23,4451,106,189
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820",21761.0,2.0,4,200,27,31,2778,101,172
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990",24647.0,2.4,4,200,25,29,3230,105,183
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195",30299.0,3.2,6,270,23,28,3575,108,186
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755",39014.0,3.5,6,225,21,24,3880,115,197

### 16) What is the average weight of cars by origin (Asia, Europe, USA)?

In [86]:

car['Weight'] = pd.to_numeric(car['Weight'],errors = 'coerce')
avg_Weight_by_origin = car.groupby('Origin')['Weight'].mean()
print(avg_Weight_by_origin)

Origin
Asia      3322.884615
Europe    3680.723577
USA       3769.952381
Name: Weight, dtype: float64

(426,)